.card-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
}

.card {
  border: solid 1px gray;
  box-shadow: 10px 10px rgb(86, 86, 86);
  width: 80%;
  height: 500px;
  margin: 15px 15px 15px 15px;
  padding: 5px;
  /* min-height: 500; */
}

.img-container {
  padding: 0px;

  z-index: 1;
  border-radius: 3%;
}

img {
  height: 150px;
}

.star {
  color: orange;
  font-size: 50px;
}

.footer {
  text-align: center;
  background-color: rgb(209, 209, 209);
  border-top: solid 1px black;
  margin-top: 200px;
}


 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(brown, #ff9500);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(255, 205, 42);
}

.active {
  background-color: #b6b6b676;
} 
