.card-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
}

.card {
  border: solid 1px gray;
  box-shadow: 10px 10px rgb(86, 86, 86);
  width: 80%;
  height: 500px;
  margin: 15px 15px 15px 15px;
  padding: 5px;
  /* min-height: 500; */
}

.img-container{

  padding: 0px;

 z-index: 1;
  border-radius: 3%;
}

img {
  height: 150px;
}

.star {
color: orange;
font-size: 50px;

}